# Xcode build outputs
/Frameworks

# Visual C++ outputs
/bin
/obj

# Locally built contribs
/install

# Sources and build trees of build-macos-deps.sh
/.macos-deps-build

# MSVC temp files
*.sdf
*.opensdf
*.suo
